//colors

$blue:#00425e;
$grey:rgb(219, 220, 223);
$white: rgb(255, 255, 255);






//font family
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Liu Jian Mao Cao', cursive;
$bold: 700;
$regular: 400;
