//colors
$black: #000;
$turq: #00ADEF;
$blue:#00425e;
$grey:rgb(219, 220, 223);
$white: rgb(255, 255, 255);
$gray-300: #dddfeb !default;





//font family
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Liu Jian Mao Cao', cursive;
$bold: 700;
$regular: 400;
